/* this was showing the box model */
/* p {
    padding: 70px;
    border: 5px dotted green;
    width: 150px;
    margin: 50px;
} */

body {
    background-color: darkslategray;
    color: white;
}

h1 {
    color: coral;
}

h2, h3 {
    background-color: gray;
    font-size: 2em;
}
/* ___ # is the id selector ___ */
#intro {
    font-size: 1.3em;
}

/* ___ . is the class selector ___*/
.colorful {
    color: orange;
}

